equinox==0.13.0
greenlet==3.0.3
jax==0.4.38
jaxlib==0.4.38
jaxtyping==0.3.2
ml_dtypes==0.5.3
msgpack==1.0.8
numpy==2.3.2
opt_einsum==3.4.0
pynvim==0.5.0
scipy==1.16.1
setuptools==78.1.1
typing_extensions==4.15.0
wadler_lindig==0.1.7
wheel==0.45.1
